/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

div {
    font-family: 'Sono', sans-serif;
}

.bg-khaki {
    background-color: #EDE7DE !important;
}

.w-90 {
    width: 95% !important;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}