<app-slider [images]="images"></app-slider>
<div class="container mb-5">
  <div class="card shadow">
    <div class="card-body">
      <h5 class="card-title">Farasha dress by Naisha gamis adem</h5>
      <h5 class="card-text">IDR 221.000</h5>
      <p class="card-text mt-2">
        Farasha dress hadir dengan desain baru dengan warna - warna best seller
        Naisha. <br /><br />
        Bahan : Shakila adem, lembut, ringan, stretchy, jatuh, memiliki serat
        diagonal sehingga nyaman untuk beraktivitas sepanjang hari.<br /><br />

        Memiliki aksen pada bagian pinggang dress, depan dress terdapat kerut
        dan belakang dress terdapat tali serut, dengan detail tali yang
        menyatukan tali depan dan tali belakang.<br /><br />
        Detail : <br /><br />
        - Kerah shanghai <br /><br />
        - Busui friendly <br /><br />
        - Manset lengan <br /><br />
        - Wudhu friendly <br /><br />
        - Saku kanan kiri <br /><br />
        - Kancing spesial by Naisha <br /><br />
        Terdapat 5 varian warna dan 3 ukuran yang siap menjadi koleksi
        NaishaMate <br /><br />
        Varian warna: <br /><br />
        Army Black Grape Mocca Soft purple Ukuran S, AS dan XL <br /><br />
        <b>S Gamis</b> <br /><br />
        LD: 96 cm <br /><br />
        P. Lengan: 56cm <br /><br />
        Kerung lengan: 50cm <br /><br />
        Panjang gamis: 135cm <br /><br />
        <b>AS Gamis</b> <br /><br />
        LD: 100 cm <br /><br />
        P. Lengan: 58cm <br /><br />
        Kerung lengan: 52cm <br /><br />
        Panjang gamis: 135cm <br /><br />
        <b>XL Gamis</b> <br /><br />
        LD: 110 cm <br /><br />
        P. Lengan: 60cm <br /><br />
        Kerung lengan: 54cm <br /><br />
        Panjang gamis: 140cm <br /><br />
        <b>Berat</b> <br /><br />
        S dan AS : 293 gram <br /><br />
        XL : 384 gram
      </p>
    </div>
  </div>
  <div class="floating-btn">
    <div style="width: 100vw; text-align: center">
      <button
        class="btn btn-lg mx-4 bg-khaki"
        style="width: 80vw"
        (click)="redirectWa()"
      >
        <div class="d-flex justify-content-center align-items-center">
          <fa-icon [icon]="faWhatsapp"></fa-icon>
          <div style="width: 20px"></div>
          <span>Order By WA</span>
        </div>
      </button>
    </div>
  </div>
</div>
