<app-slider [images]="images"></app-slider>
<div class="container mb-5">
  <div class="card shadow">
    <div class="card-body">
      <h5 class="card-title">Farasha dress by Naisha gamis adem</h5>
      <h5 class="card-text">IDR 221.000</h5>
      <p class="card-text mt-2">
        Farasha dress hadir dengan desain baru dengan warna - warna best seller
        Naisha. Bahan : Shakila adem, lembut, ringan, stretchy, jatuh, memiliki
        serat diagonal sehingga nyaman untuk beraktivitas sepanjang hari.
        Memiliki aksen pada bagian pinggang dress, depan dress terdapat kerut
        dan belakang dress terdapat tali serut, dengan detail tali yang
        menyatukan tali depan dan tali belakang. Detail : - Kerah shanghai -
        Busui friendly - Manset lengan - Wudhu friendly - Saku kanan kiri -
        Kancing spesial by Naisha Terdapat 5 varian warna dan 3 ukuran yang siap
        menjadi koleksi NaishaMate Varian warna: Army Black Grape Mocca Soft
        purple Ukuran S, AS dan XL S Gamis LD: 96 cm P. Lengan: 56cm Kerung
        lengan: 50cm Panjang gamis: 135cm AS Gamis LD: 100 cm P. Lengan: 58cm
        Kerung lengan: 52cm Panjang gamis: 135cm XL Gamis LD: 110 cm P. Lengan:
        60cm Kerung lengan: 54cm Panjang gamis: 140cm Berat S dan AS : 293 gram
        XL : 384 gram
      </p>
    </div>
  </div>
  <div class="floating-btn">
    <div style="width: 100vw; text-align: center;">
      <button class="btn  btn-lg mx-4 bg-khaki" style="width: 80vw;" (click)="redirectWa()">
        <div class="d-flex justify-content-center align-items-center">
          <fa-icon [icon]="faWhatsapp"></fa-icon>
          <div style="width: 20px"></div>
          <span>Order By WA</span>
        </div>
      </button>
    </div>
  </div>
</div>
